<div class="main-component ">
    <div class="card" style="width: 70rem; height: 200px;">
        <div class="card-body ice-creame">
          <h2 class="card-title">Ice Cream Corner</h2>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/ice-creame" class="btn btn-success" >Order Now</a>
          <!-- <a href="#" class="card-link"></a> -->
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
      <app-sub-cards></app-sub-cards>


</div>

    <router-outlet></router-outlet>
