
<div class="row">
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card Pharmacy">
        <div class="card-body">
          <h5 class="card-title">Pharmacy at your doorstep!</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-success">Order Now</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card pets">
        <div class="card-body">
          <h5 class="card-title">Pet care supplies in minute</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-success">Order Now</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card babycare">
        <div class="card-body">
          <h5 class="card-title">Baby Care products in minute!</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-success">Order Now</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card groceries">
        <div class="card-body">
          <h5 class="card-title">Groceries at door in minute!</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-success">Order Now</a>
        </div>
      </div>
    </div>
  </div>
